<section class="hero text-white d-flex align-items-center justify-content-center">
    <img 
      src="../../../assets/images/{{HomePageInfo.bgHero}}"
      alt="Hero Background" 
      class="hero-img"
    />
    
    <div class="container text-center">
      <h1 class="hero-title">{{ HomePageInfo.paragraph1 }}</h1>
      <p class="hero-subtitle">{{ HomePageInfo.paragraph2 }}</p>
      <button class="btn btn-lg btn-warning hero-btn" routerLink="/home/Trips">Book Now</button>
    </div>
  </section>
 