.update-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}


.full-width {
  width: 100%;
}

.half-width {
  width: calc(50% - 8px);
}
input ,.mat-select .mat-option{
  padding-top: 15px !important;
}
