

<div class="wrapper">
    <app-sidebar></app-sidebar>
   <div class="main-panel" style="padding: 50px;">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>testimonial Text</th>
            <th>status</th>
            <th>created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let GetRejectedTestimonials of admin.GetRejectedTestimonials">
            <td>{{ GetRejectedTestimonials.userId}}</td>
            <td>{{ GetRejectedTestimonials.firstName}}</td>
            <td>{{ GetRejectedTestimonials.lastName}}</td>
            <td>{{ GetRejectedTestimonials.testimonialText}}</td>
            <td>{{ GetRejectedTestimonials.status}}</td>
            <td>{{ GetRejectedTestimonials.createdAt | date: 'yyyy-MM-dd' }}</td>
          </tr>
        </tbody>
      </table>
      
</div>
</div>
