<h2 mat-dialog-title>Create New Trip</h2>

<mat-dialog-content class="mat-typography create-trip-dialog">
  <form [formGroup]="createForm" class="create-trip-form">

    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Departure Time</mat-label>
        <input matInput type="date" formControlName="departureTime">
        <mat-error *ngIf="createForm.controls['departureTime'].hasError('required')">
          Departure Time is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ticket Price</mat-label>
        <input matInput type="number" formControlName="ticketPrice">
        <mat-error *ngIf="createForm.controls['ticketPrice'].hasError('required')">
          Ticket Price is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Trip Description</mat-label>
        <input matInput type="text" formControlName="tripDescription">
        <mat-error *ngIf="createForm.controls['tripDescription'].hasError('required')">
          Trip Description is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Train Route</mat-label>
        <mat-select formControlName="trainId">
          <mat-option *ngFor="let train of admin.Trains" [value]="train.trainId">
            {{ train.routeNumber }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createForm.controls['trainId'].hasError('required')">
          Train is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start Station</mat-label>
        <mat-select formControlName="startStationId">
          <mat-option *ngFor="let station of admin.Station" [value]="station.stationId">
            {{ station.stationName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createForm.controls['startStationId'].hasError('required')">
          Start Station is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Station</mat-label>
        <mat-select formControlName="endStationId">
          <mat-option *ngFor="let station of admin.Station" [value]="station.stationId">
            {{ station.stationName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createForm.controls['endStationId'].hasError('required')">
          End Station is required
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="Create()" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
