.create-trip-dialog {
  max-width: 600px;
  overflow: hidden;
}

.create-trip-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

/* Fixing dropdown overlap issue */
.mat-select-panel {
  z-index: 1000 !important;
}