<app-header></app-header>
<h2 class="text-center mb-5 title-shadow">Our Clients says ...</h2>
    <!-- Testimonial Section -->
    <div class="testimonial-container">
        <button class="carousel-arrow carousel-arrow-left" onclick="moveTestimonials('left')">&#8592;</button>
        <div class="testimonial-wrapper">
            <!-- Testimonial 1 -->
            <div class="testimonial-card" *ngFor="let ApprovedTestimonialsForHome of Home.ApprovedTestimonialsForHome">
                <img src="../../../assets/images/{{ApprovedTestimonialsForHome.profileImage}}" class="img-thumbnail" style="width: 50px; height: 50px;">
                <div>
                    <p>{{ ApprovedTestimonialsForHome.testimonialText}}</p>
                    <p class="name">{{ ApprovedTestimonialsForHome.firstName}}</p>
                    <p class="date">{{ ApprovedTestimonialsForHome.lastName}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-arrow carousel-arrow-right" >&#8594;</button>
    </div>

    <!-- Testimonilas Form  -->

    <div class="container contact-section">
        <h2 class="text-center mb-5 title-shadow1">Submit Your Testimonial</h2>
    
        <!-- Contact Form -->
        <div class="row mt-5">
            <div class="col-lg-6 mx-auto">
                <div class="contact-form">
                    <form style="margin-bottom: 10px;" [formGroup]="testimonailGroup">
                     
                        <div class="mb-3">
                            <label for="message" class="form-label">Your Message</label>
                            <textarea class="form-control" id="message" rows="4" placeholder="Type your message..." formControlName="TestimonialText"  required></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-submit" (click)="submitTestimonial()">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
    

    <app-footer></app-footer>