<!-- Footer -->
<footer class="bg-custom text-center text-lg-start text-light pt-5">
    <div class="container">
        <div class="row">
            <!-- About Us Section -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">About Us</h5>
                <p>{{FooterInfo.aboutUs}}</p>
            </div>
            <!-- Quick Links Section -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#about" class="text-light">About Us</a></li>
                    <li><a href="#contact" class="text-light">Contact Us</a></li>
                    <li><a href="#services" class="text-light">Testimonials</a></li>
                </ul>
            </div>
            <!-- Contact Us Section -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">Contact Us</h5>
                <p >{{ContactPageInfo.address}}</p>
                <p>{{ContactPageInfo.email}}</p>
                <p>{{ContactPageInfo.phone}}</p>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section -->
    <div class="text-center py-3 bg-dark">
        <p>{{FooterInfo.copyright}}</p>
    </div>
</footer>